@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #151515;
    --contrast-color: #aaaaaa;
    --title: 50px;
    --sub-title: 32px;
    --txt: 24px;
    --check-input-theme-height: 30px;
    --check-input-theme-width: calc(var(--check-input-theme-height * 2));
    --check-input-circle-offset: 3px;
    --check-input-circle-diameter: 25px;
}

body {
    font-family: 'VT323', monospace;
}

.page-wrap {
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title {
    color: var(--contrast-color);
    font-size: var(--title);
}

.sub-title {
    color: var(--contrast-color);
    font-size: var(--sub-title);
}

.check-theme-label {
    color: var(--contrast-color);
    font-size: var(--txt);
}

.check-theme-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.check-theme-input {
    display: block;
    visibility: hidden;
    position: relative;
    width: 60px;
    height: var(--check-input-theme-height);
    cursor: pointer;
}


.check-theme-input::before,
.check-theme-input::after {
    visibility: visible;
    display: block;
    content: "";
    color: white;
    font-size: 20px;
}

.check-theme-input::before {
    width: var(--check-input-theme-width);
    height: var(--check-input-theme-height);
    background-color: var(--primary-color);
    box-shadow: inset 0px 0px 3px 2px black;
    display: block;
    border-radius: 50px;
}

.check-theme-input::after {
    height: var(--check-input-circle-diameter);
    width: var(--check-input-circle-diameter);
    top: calc((var(--check-input-theme-height) - var(--check-input-circle-diameter))/2);
    background-color: var(--contrast-color);
    border-radius: 50%;
    position: absolute;
    left: var(--check-input-circle-offset);
    transition: left 0.3s ease;
}

.check-theme-input:checked::after {
    left: calc(100% - var(--check-input-circle-diameter) - var(--check-input-circle-offset));
}